.visually__hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.wrapper{
    background-color: #23085A;
    height: 220px;
}
.user__list{
    justify-content: flex-end;
    display: flex;
    margin-right: 50px;
}
.user__item{
    margin-top: 20px;
    position: relative;
}
.user__link{
    text-decoration: none;
    margin-left: 4px;
    padding: 20px;
    border: 1px solid white;
    background-color: #F1F1F1;
}
.user__link:hover{
    background-color: aqua;
}
.dropdown__list{
    margin-top: 15px;
    position: absolute;
    min-width: 120px;
    text-decoration: none;
    display: none;
    padding: 10px;
    right: 0;
    color: black;
}
.dropdown__link{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    padding-left: 8px;
}
.user__item:hover .dropdown__list {
    display: block;
}
.dropdown__list{
    background-color: #F1F1F1;
}
.head__intro__list{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}
.head__intro__link{
    margin-right: 50px;
    padding-left: 20px;
    color: #E7DED6;
    text-decoration: none
}
.gallery__list{
    display: flex;
    margin-top: 68px;
}
.gallery__link{
    text-decoration: none;
    margin-left: 4px;
    padding: 20px;
    border: 1px solid white;
    background-color: #F1F1F1;
}
.gallery__link:hover{
    background-color: aqua;
}